:root {
  --red_color1: rgb(162, 68, 68);
  --orange_color1: rgb(203, 132, 0);
  --orange_color2: rgb(255, 248, 234);
  --green_color1: rgb(34, 145, 38);
  --green_color2: rgb(245, 252, 246);
  --grey_color1: rgb(70, 70, 70);
  --grey_color2: rgb(211, 211, 211);
  --grey_color3: rgb(226, 226, 226);
}

* {
  font-family: inter;
  margin: 0;
  box-sizing: border-box;
}

body #app-container {
  padding: 0px 3%;
  max-width: 1200px;
  margin: auto;
}
body #app-container #app-header {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
body #app-container #app-header #header-logo {
  width: 44px;
  height: 44px;
}
body #app-container #app-header #header-title {
  color: var(--grey_color1);
  font-size: 30px;
  margin-left: 20px;
  font-weight: 700;
}
body #app-container #app-options #option-banner {
  width: 100%;
  height: 260px;
  -o-object-position: 100% 25%;
     object-position: 100% 25%;
  -o-object-fit: cover;
     object-fit: cover;
}
body #app-container #app-options #app-option-buttons-container {
  margin: 15px 0px;
  padding: 10px 0px;
  border-top: solid 2px var(--grey_color1);
  border-bottom: solid 2px var(--grey_color1);
  display: flex;
  justify-content: center;
}
body #app-container #app-options #app-option-buttons-container .app-option {
  padding: 5px 10px;
  font-size: 1.1em;
  border: none;
  background: none;
  margin: 0px 5px;
  font-weight: bolder;
  color: var(--grey_color1);
  border-bottom: solid 2px white;
  cursor: pointer;
}
body #app-container #app-options #app-option-buttons-container .app-option:hover {
  animation: app-option-hovered forwards 0.3s;
}
@keyframes app-option-hovered {
  from {
    border-radius: 20px;
  }
  to {
    background: var(--grey_color3);
    border-radius: 50px;
  }
}
body #app-container #app-options #app-option-buttons-container .selected {
  color: var(--green_color1);
}
body #app-container #app-screens .app-screen {
  display: none;
}
body #app-container #app-screens #app-screen-search {
  display: grid;
}
body #app-container #app-screens #app-screen-search div {
  padding-bottom: 10px;
}
body #app-container #app-screens #app-screen-search div h3 {
  font-size: 27px;
  font-weight: 400;
  text-align: center;
  color: var(--green_color1);
}
body #app-container #app-screens #app-screen-search #search-screen-search-recipes {
  display: grid;
  justify-content: space-evenly;
}
body #app-container #app-screens #app-screen-search #search-screen-categories .category-type-container {
  padding-bottom: none !important;
  padding: none;
}
body #app-container #app-screens #app-screen-search #search-screen-categories .category-type-container button.category-compact-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
  border-bottom: solid 2px var(--grey_color2);
  background: none;
  padding: 0px;
}
body #app-container #app-screens #app-screen-search #search-screen-categories .category-type-container button.category-compact-button:hover {
  cursor: pointer;
  animation: category-compact-button-hovered 0.3s forwards;
}
body #app-container #app-screens #app-screen-search #search-screen-categories .category-type-container button.category-compact-button span {
  font-size: 22px;
  font-weight: 400px;
  margin: 10px 0px;
  color: var(--green_color1);
}
body #app-container #app-screens #app-screen-search #search-screen-categories .category-type-container button.category-compact-button img {
  filter: contrast(0%);
  height: 24px;
  width: 24px;
}
body #app-container #app-screens #app-screen-search #search-screen-categories .category-type-container .category-buttons-array {
  padding-bottom: 0;
}
body #app-container #app-screens #app-screen-search #search-screen-categories button.search_category {
  display: block;
  width: 100%;
  padding: 8px 0px;
  font-size: 18px;
  background: none;
  border: none;
  text-align: left;
}
body #app-container #app-screens #app-screen-search #search-screen-categories button.search_category:hover {
  cursor: pointer;
  animation: category-button-hovered 0.3s forwards;
}
@keyframes category-button-hovered {
  from {
    color: black;
  }
  to {
    color: var(--green_color1);
  }
}
body #app-container #app-screens #app-screen-search #search-screen-categories button.selected {
  font-weight: 600;
  color: var(--green_color1);
  background: var(--grey_color3);
}

.form-bar {
  display: grid;
  align-items: center;
  grid-template-columns: auto max-content;
  border: solid 2px var(--grey_color2);
  padding: 0px 0px 0px 10px;
  border-radius: 25px;
  margin-top: 10px;
}
.form-bar .form-bar-input {
  border: none;
  font-size: 16px;
}
.form-bar .form-bar-input:focus {
  outline: none;
}
.form-bar .form-bar-submit {
  display: flex;
  border: none;
  box-shadow: 0 0 3px 1px var(--grey_color2) inset;
  padding: 3px 15px;
  border-radius: 25px;
  cursor: pointer;
}
.form-bar .form-bar-submit .form-bar-button-image {
  width: 22px;
  height: 22px;
  fill: var(--grey_color1);
}
.form-bar .form-bar-submit .new-input-style {
  border: none;
  fill: var(--green_color1);
}
@keyframes search-button-hovered {
  from {
    fill: var(--grey_color1);
  }
  to {
    fill: var(--green_color1);
  }
}

.new-input-style {
  border: solid 2px var(--green_color1);
}

@media (min-width: 700px) {
  #search-screen-search-recipes {
    grid-template-columns: auto auto;
  }
  #fridge-cooking-recipes-list {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 800px) {
  #search-screen-categories {
    top: 30px;
    position: sticky;
    align-self: start;
    grid-row: 1/3;
    margin-right: 30px;
  }
  #search-screen-categories .category-type-container {
    padding-bottom: 0px;
  }
  #search-screen-categories .category-type-container .category-compact-button {
    pointer-events: none;
  }
  #search-screen-categories .category-type-container .category-compact-button img {
    display: none;
  }
  #app-screen-search {
    grid-template-rows: 90px auto;
    grid-template-columns: 25% 75%;
    align-items: start;
  }
  #search-screen-search-bar {
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (min-width: 1100px) {
  #search-screen-search-recipes {
    grid-template-columns: auto auto auto;
  }
  #fridge-cooking-recipes-list {
    grid-template-columns: auto auto auto;
  }
}
@media (min-width: 400px) and (max-width: 599px) {
  .category-buttons-array {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .category-buttons-array {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
}
#app-container {
  min-height: 1000px;
}

#app-screen-fridge h3 {
  margin-bottom: 10px;
  font-size: 27px;
  font-weight: 400;
  text-align: center;
  color: var(--green_color1);
}
#app-screen-fridge h3 #fridge-screen-total {
  font-size: 12px;
  color: var(--grey_color1);
}
#app-screen-fridge #tag-bar-form {
  margin-bottom: 10px;
}
#app-screen-fridge #fridge-ingredient-container {
  margin-bottom: 10px;
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient {
  border-bottom: solid 1px var(--grey_color1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-name {
  width: 100%;
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-name .fridge-ingredient-name-input {
  font-size: 18px;
  border: none;
  width: 100%;
  text-overflow: ellipsis;
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-name .fridge-ingredient-name-input:focus {
  outline: none;
  color: var(--green_color1);
  caret-color: black;
  background: var(--green_color2);
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-options {
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-options button {
  border: none;
  background: none;
  margin-left: 5px;
  fill: var(--grey_color1);
  cursor: pointer;
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-options button:first-child {
  margin-left: 0;
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-options button svg {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-options button:hover {
  animation: fridge-option-button-hovered 0.3s forwards;
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-options button.delete-option:hover {
  animation: none;
  fill: var(--red_color1) !important;
}
@keyframes fridge-option-button-hovered {
  from {
    fill: var(--grey_color1);
  }
  to {
    fill: var(--green_color1);
  }
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-options .cooking-list {
  fill: var(--orange_color1);
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-options .grocery-list {
  fill: var(--green_color1);
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-options .grocery-list:hover {
  animation: grocery-list-decolor 0.3s forwards;
}
@keyframes grocery-list-decolor {
  from {
    fill: var(--green_color1);
  }
  to {
    fill: var(--grey_color1);
  }
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-options .ingredient-delete-options {
  z-index: 2;
  position: absolute;
  right: 0;
  box-sizing: content-box;
  width: 0%;
  display: none;
  grid-template-columns: 65% auto;
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-options .ingredient-delete-options button {
  padding: 10px 0px;
  margin: 0;
  color: white;
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-options .ingredient-delete-options .delete {
  fill: white;
  background: rgb(240, 0, 0);
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-options .ingredient-delete-options .delete:hover {
  animation: none;
  fill: white;
  background: red;
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-options .ingredient-delete-options .cancel {
  fill: var(--grey_color1);
  background: var(--grey_color2);
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient .fridge-ingredient-options .ingredient-delete-options .cancel:hover {
  animation: none;
  fill: var(--grey_color1);
  background: var(--grey_color3);
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient-unavailable .fridge-ingredient-name {
  opacity: 0.75;
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient-unavailable .fridge-ingredient-name input {
  color: var(--red_color1);
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient-unavailable .fridge-ingredient-options .fridge-option {
  fill: var(--red_color1);
}
#app-screen-fridge #fridge-ingredient-container .fridge-ingredient-unavailable .fridge-ingredient-options .cook-option {
  fill: var(--red_color1);
  pointer-events: none;
}
#app-screen-fridge #fridge-cooking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app-screen-fridge #fridge-cooking-container h3 #ingredient-cook-total {
  font-size: 12px;
  color: var(--grey_color1);
}
#app-screen-fridge #fridge-cooking-container #fridge-cooking-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 10px;
}
#app-screen-fridge #fridge-cooking-container #fridge-cooking-list .cook-ingredient {
  display: inline-block;
  overflow-wrap: break-word;
  word-break: break-word;
  color: var(--orange_color1);
  background: var(--orange_color2);
  border-radius: 15px;
  padding: 5px 10px;
  margin: 0px 2px 2px 2px;
}
#app-screen-fridge #fridge-cooking-container #fridge-explore-ingredients-button {
  font-size: 18px;
  padding: 5px 10px;
  background: var(--grey_color3);
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
#app-screen-fridge #fridge-cooking-container #fridge-explore-ingredients-button:hover {
  animation: animate-explore-ingredients-hovered 0.3s forwards;
}
#app-screen-fridge #fridge-cooking-container #fridge-explore-ingredients-button:active {
  background: var(--grey_color2);
}
@keyframes animate-explore-ingredients-hovered {
  from {
    color: black;
  }
  to {
    color: var(--orange_color1);
  }
}
#app-screen-fridge #fridge-cooking-container #fridge-cooking-recipes-list {
  display: grid;
  justify-content: space-evenly;
  width: 100%;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 5px;
  border: solid 1px var(--grey_color2);
  padding: 8px;
  background: rgb(242, 242, 242);
  border-radius: 10px;
}
.recipe-container .recipe-image {
  border-radius: 6px;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.recipe-container .recipe-label {
  color: var(--green_color1);
  font-size: 20px;
  padding: 10px 0px;
}
.recipe-container .recipe-info div {
  padding-bottom: 4px !important;
  margin-bottom: none;
}
.recipe-container .recipe-ingredient-expand {
  margin-top: auto;
  padding: 4px;
  border-radius: 6px;
  border: solid 1px var(--grey_color2);
  font-size: 16px;
  cursor: pointer;
}
.recipe-container .recipe-ingredient-expand:hover {
  animation: recipe-ingredients-expand-hovered 0.4s forwards;
}
@keyframes recipe-ingredients-expand-hovered {
  from {
    color: black;
  }
  to {
    color: var(--green_color1);
    background: var(--grey_color3);
  }
}

.recipe-dialog-box {
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}
.recipe-dialog-box .dialog-box-recipe-container {
  padding: 10px;
  border-radius: 10px;
  background: white;
  max-width: 600px;
}
.recipe-dialog-box .dialog-box-recipe-container .recipe-label, .recipe-dialog-box .dialog-box-recipe-container .recipe-calories, .recipe-dialog-box .dialog-box-recipe-container .recipe-yield, .recipe-dialog-box .dialog-box-recipe-container h3 {
  text-align: center;
}
.recipe-dialog-box .dialog-box-recipe-container .recipe-image {
  border-radius: 6px;
  margin: auto;
}
.recipe-dialog-box .dialog-box-recipe-container .recipe-label {
  font-size: 26px;
  color: var(--green_color1);
}
.recipe-dialog-box .dialog-box-recipe-container h3 {
  color: var(--green_color1);
  font-weight: 400;
  margin: 5px 0;
}/*# sourceMappingURL=RecipeFinder.css.map */