:root{
    --red_color1: rgb(162, 68, 68);

    --orange_color1: rgb(203, 132, 0);
    --orange_color2: rgb(255, 248, 234);

    --green_color1: rgb(34, 145, 38);
    --green_color2: rgb(245, 252, 246);
    --green_color3: rgb(202, 253, 210);

    --grey_color1: rgb(70, 70, 70);
    --grey_color2: rgb(211, 211, 211);
    --grey_color3: rgb(226, 226, 226);
    --grey_color4: rgb(152, 152, 152);
    --grey_color5: rgb(242, 242, 242);
}

// ######################################################################################
// ######################   TOP LEVEL CSS   #############################################
// ######################################################################################

*{
    font-family: inter;
    margin: 0;
    box-sizing: border-box;
}


body{
    &::-webkit-scrollbar {
        width: 14px;
    }
    &::-webkit-scrollbar-track {
        background: none;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--grey_color4);
        border: 2px solid transparent;
        border-radius: 50px;
        background-clip: content-box;
    }
    #app-container{
        position: relative;
        z-index: 1;
        min-height: 1000px;
        max-width: 1200px;
        margin: auto;

        
        
        #app-options, #app-screens, #app-bottom{
            padding: 0 3%;
        }
        #app-options, #app-screens{
            // ios predefined environment variables

            box-sizing: border-box;
            padding-left: max(3%, env(safe-area-inset-left));
            padding-right: max(3%, env(safe-area-inset-right));
        }
        #app-header{
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            #header-logo{
                width: 44px;
                height: 44px;
            }
            #header-title{
                color: var(--grey_color1);
                font-size: 30px;
                margin-left: 20px;
                font-weight: 700;
            }
        }
        #app-options{
            #option-banner{
                width: 100%;
                height: 260px;
                object-position: 100% 25%;
                object-fit: cover;
                border-radius: 10px;
            }
            // border: solid 2px blue;
            #app-option-buttons-container{
                margin: 15px 0px;
                padding: 10px 0px;
                border-top: solid 2px var(--grey_color1);
                border-bottom: solid 2px var(--grey_color1);
                display: flex;
                justify-content: center;
                .app-option{
                    padding: 5px 10px;
                    font-size: 1.1em;
                    border: none;
                    background: none;
                    margin: 0px 5px;
                    font-weight: bolder;
                    color: var(--grey_color1);
                    border-bottom: solid 2px white;
                    cursor: pointer;
                    &:hover{
                        animation: app-option-hovered forwards 0.3s;
                    }
                }
                #grocery-list-app-option-button{
                    position: relative;
                    #grocery-list-count-badge{
                        display: flex;   
                        position: absolute;
                        padding: 2px 8px;
                        justify-content: center;
                        top: -10px;
                        right: -5px;
                        background: var(--green_color1);
                        color: white;
                        border-radius: 20px;
                    }
                }
                @keyframes app-option-hovered{
                    from{
                        border-radius: 20px;
                    }
                    to{
                        background: var(--grey_color3);
                        border-radius: 50px;
                    }
                }
                .selected{
                    color: var(--green_color1);
                }
            }
        }
        #app-screens{
            .app-screen{
                display: none;
            }
            #app-screen-search{
                display: grid;
                div{
                    padding-bottom: 10px;
                    h3{
                        font-size: 27px;
                        font-weight: 400;
                        text-align: center;   
                        color: var(--green_color1);
                    }
                }
                #search-screen-search-recipes{
                    display: flex;
                    justify-items: center;
                    min-height: 400px;
                    // align-items: center;
                }
                
                #search-screen-categories{
                    // border: solid 1px red;
                    .category-type-container{
                        padding-bottom: none !important;
                        padding: none;
                        button.category-compact-button{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            border: none;
                            border-bottom: solid 2px var(--grey_color2);
                            background: none;
                            padding: 0px;
                            &:hover{
                                cursor: pointer;
                                animation: category-compact-button-hovered 0.3s forwards;
                            }
                            span{
                                font-size: 22px;
                                font-weight: 400px;
                                margin: 10px 0px;
                                color: var(--green_color1);
                                margin-left: 5px;
                            }
                            img{
                                filter: contrast(0%);
                                height: 24px; width: 24px;
                            }
                        }
                        .category-buttons-array{
                            padding-bottom: 0;
                        }
                    }
                    button.search_category{
                        display: block;
                        width: 100%;
                        padding: 8px 0px;
                        font-size: 18px;
                        background: none;
                        border: none;
                        text-align: left;
                        padding-left: 5px;
                        color: var(--grey_color1);
                        &:hover{
                            cursor: pointer;
                            animation: category-button-hovered .3s forwards;
                        }
                        @keyframes category-button-hovered{
                            from{
                                color: black;
                            }
                            to{
                                color: var(--green_color1)
                            }
                        }
                    }
                    button.selected{
                        font-weight: 600;
                        color: var(--green_color1);
                        // background: var(--grey_color3);
                        // background: rgba(var(--grey_color4), 0.6)
                        background: color-mix(in srgb, var(--grey_color2), transparent);

                    }
                }
            }
            
        }        
        #app-bottom{
            width: 100%;
            background: rgba(0,0,0,.8);
            display: flex;
            justify-content: center;
            #app-bottom-info{
                color: var(--grey_color2);
                width: 100%;
                max-width: 1200px;
                height: 100%;
                padding: 0px 3%;
                .app-bottom-section{
                    margin-bottom: 10px;
                    h3{
                        color: var(--grey_color4);
                        margin-bottom: 5px;
                    }
                }
                #app-bottom-main-info{
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    #app-author{
                        color: var(--grey_color4);
                        text-align: center;
                    }
                    #edamam-badge{
                        width: 100%;
                        max-width: 200px;
                        cursor: pointer;
                    }
                }
                #app-bottom-link-info{
                    display: flex;
                    flex-direction: column;
                    a{
                        color: var(--grey_color2);
                        margin-bottom: 5px;
                        text-decoration: none;
                        &:hover{
                            color: var(--green_color3);
                        }
                    }
                }
                #app-bottom-danny-info{
                    a{
                        display: flex;
                        align-items: center;
                        margin-bottom: 5px;
                        text-decoration: none;
                        color: var(--grey_color2);
                        &:hover{
                            color: var(--green_color3);
                        }
                        svg{
                            width: 16px; height: 16px;
                            margin-right: 10px;
                        }
                    }
                }
                #app-bottom-about-info{
                    a{color: var(--green_color3)}
                }
            }
        }
    }
}
#app-background{
    z-index: 0;
    // background: black;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 200%;
    opacity: 0.085;
    *{
        position: fixed;
        z-index: 0;
        transform: scale(2);
    }
    #background_image1{
        right: 0;
        top: 1600px;
    }
    #background_image2{
        left: 10%;
        top: 1000px;
        transform: scale(-2, 2);
    }
    #background_image3{
        right: 10%;
        top: 400px;
    }
    #background_image4{
        top: 2200px;
        right: 15%;
    }
    #background_image5{
        top: 100px;
        left: 10%;
    }
}


// ######################################################################################
// ######################   COOK RECIPE   ###############################################
// ######################################################################################

#fridge-cooking-container{
    // When searching for recipes containing food tags in 'Search Fridge' menu
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 320px;
    h3{
        #ingredient-cook-total{
            font-size: 12px;
            color: var(--grey_color1);               
        }
    }
    #fridge-cooking-list{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: start;
        margin-bottom: 10px;
        min-height: 70px;
        .cook-no-ingredients{
            display: flex;
            align-items: center;
            flex-direction: column;
            // padding: 100px 0px;
            svg{
                width: 30px;
                height: 30px;
                fill: var(--grey_color1);
                margin-bottom: 10px;
            }
            span{
                font-size: 18px;
                color: var(--grey_color1)
            }
        }
        .cook-ingredient{
            display: inline-block;
            overflow-wrap: break-word;
            word-break: break-word;
            color: var(--orange_color1);
            background: var(--orange_color2);
            border-radius: 15px;
            padding: 5px 10px;
            margin: 0px 2px 2px 2px;
        }
    }
    #fridge-explore-ingredients-button{
        color: var(--grey_color1);
        font-size: 18px;
        padding: 5px 10px;
        background: var(--grey_color3);
        border: none;
        border-radius: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover{
            animation: animate-explore-ingredients-hovered 0.3s forwards;
        }
        &:active{
            background: var(--grey_color2);
        }
    }
    @keyframes animate-explore-ingredients-hovered{
        from{
            color: black;
        }
        to{
            color: var(--orange_color1);
        }
    }
    #fridge-cooking-recipes-list{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
}
#fridge-cook-recipe-container{
    // Selected to actively cook a recipe
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px var(--grey_color2);
    padding: 10px;
    margin-bottom: 50px;
    background: rgb(242, 242, 242);
    border-radius: 10px;
    display: none;
    max-width: 450px;
    
    .cook-recipe-image{
        width: 100%;
        height: 260px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    .cook-recipe-info{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        margin-bottom: 10px;
        div{
            text-align: center;
            span{
                color: var(--green_color1);
                font-weight: bolder;
                a{
                    text-decoration: none;
                    color: green;
                }
            }
        }
    }
    .cook-recipe-line{
        padding: 5px 0px;
        border-bottom: solid 2px var(--grey_color2);
    }
    .cook-recipe-line:last-child{
        
        border-bottom: none;
    }
       
}

// ######################################################################################
// ######################   DIALOG BOX   ################################################
// ######################################################################################
.recipe-dialog-box{
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    .dialog-box-recipe-container{
        z-index: 6;
        border-radius: 10px;
        width: 100%;
        max-width: 400px;
        position: absolute;
        background: white;
        box-shadow: 0 0 150px rgba(0,0,0,.15);
        padding-bottom: 100px;
        .recipe-label,
        .recipe-calories,
        .recipe-yield,
        .recipe-ingredient-list-info{
            text-align: center;
        }
        .recipe-image{
            margin: auto;
            width: 100%;
            max-height: 260px;
            object-fit: cover;
        }
        .recipe-label{
            font-size: 22px;
            color: var(--green_color1);
        }
        .recipe-info{
            padding: 0px 2px;
            display: flex; justify-content: space-evenly;
        }
        .recipe-ingredient-list-info{
            color: var(--green_color1);

            margin: 5px 0;
            font-size: 14px;
            padding-bottom: 5px;
            border-bottom: solid 2px var(--grey_color1);
        }
        .recipe-ingredient-list{
            position: relative;
            overflow: scroll;
            border-radius: 6px;
            padding: 0px 8px;
            overflow-x: hidden;
            height: 40vh;
            padding-bottom: 20px;
            .recipe-ingredient{
                display: grid;
                grid-template-columns: max-content auto;
                align-items: center;
                padding: 5px 0px;
                border-bottom: solid 2px var(--grey_color2);
                .recipe-ingredient-grocery-checkbox{
                    appearance: none;
                    -webkit-appearance: none;
                    width: 18px !important;
                    height: 18px !important;
                    background: white;
                    border-radius: 50%;
                    vertical-align: middle;
                    margin-right: 10px;
                    border: 2px solid white;
                    box-shadow: 0 0 0px 2px var(--green_color1);
                    cursor: pointer;
                    &:checked{
                        background: var(--green_color1);
                    }
                }
               
            }
            .recipe-ingredient:last-child{
                padding-bottom: 5px;
                border-bottom: none;
            }
            &::-webkit-scrollbar {
                width: 13px;
            }
            &::-webkit-scrollbar-track {
                background: none;
            }
            &::-webkit-scrollbar-thumb {
                background: var(--green_color1);
                border: 4px solid transparent;
                border-radius: 50px;
                background-clip: content-box;
            }
        }
    }
    .dialog-box-options{
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        align-self: flex-end;
        padding: 0px 5px 10px 5px;
        button{
            background: var(--grey_color2);
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 7px;
            width: 120px;
            padding: 4px 0;
            fill: var(--grey_color1);
            color: var(--grey_color1);
            cursor: pointer;
            svg{
                margin-right: 5px;
                width: 25px;
                height: 25px;
            }
            &:hover{
                background: var(--grey_color3);
            }
        }
        #dialog-box-cook-option{
            svg{
                width: 24px; height: 24px;
            }
        }
        #dialog-box-cook-option:hover{
            color: var(--orange_color1);
            fill: var(--orange_color1);

        }
        #dialog-box-cancel-option{
            svg{
                width: 18px; height: 18px;
            }
        }
        #dialog-box-grocery-option:hover{
            color: var(--green_color1);
            fill: var(--green_color1);
        }
        #dialog-box-cancel-option:hover{
            color: var(--red_color1);
            fill: var(--red_color1);
        }
        
    }
}

// ######################################################################################
// ######################   VARIOUS   ###################################################
// ######################################################################################
h3{
    font-size: 27px;
    font-weight: 400;
    text-align: center; 
    color: var(--green_color1);
    margin-bottom: 10px;
    span{
        display: block;
        font-size: 12px;
        color: var(--grey_color1);
    }
}

#calories-range-container{
    display: flex;
    align-items: center;
    h3{
        display: inline;
        font-size: 22px !important;
        font-weight: 400px;
        margin-right: auto;
        margin-left: 5px;
    }
    input, span{
        margin-left: 10px;
    }
    input{
        max-width: 80px;
        box-sizing: border-box;
    }
}

.no-recipes-found{
    font-size: 22px;
    color: var(--grey_color1);
    fill: var(--grey_color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 200px 0px !important;
    svg{
        margin-top: 20px;
        width: 30px;
        height: 30px;
    }
}
.no-recipes-searched{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0px !important;
    img{
        max-width: 60px;
    }
    span{
        font-size: 18px;
        margin-top: 20px;
        text-align: center;
    }
}
.recipe-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    margin: 5px !important;
    border: solid 1px var(--grey_color2);
    padding: 8px;
    background: rgb(242, 242, 242);
    border-radius: 10px;
    .recipe-image{
        border-radius: 6px;
        max-height: 240px;
        object-fit: cover;
    }
    .recipe-label{
        color: var(--green_color1);
        font-size: 20px;
        padding: 10px 0px;
    }
    .recipe-info{
        div{
            padding-bottom: 4px !important;
            margin-bottom: none;
            span{
                font-weight: bolder;
                color: var(--green_color1);
            }
        }    
    }
    .recipe-ingredient-expand{
        margin-top: auto;
        padding: 4px;
        border-radius: 6px;
        border: solid 1px var(--grey_color2);
        font-size: 18px;
        color: var(--grey_color1);
        cursor: pointer;
        &:hover{animation: recipe-ingredients-expand-hovered .4s forwards}
    }
    @keyframes recipe-ingredients-expand-hovered{
        from{
            color: black;
        }
        to{
            color: var(--green_color1);
            background: var(--grey_color3);
        }
    }
}

#shopping-cart-options-text{
    color: var(--grey_color1);
    padding-bottom: 3px;
    margin-bottom: 0;
    border-bottom: solid 2px var(--grey_color1);
    text-align: center;
}

#cart-options-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100% 100%;
    margin-top: 20px;
    margin-bottom: 100px;
    justify-content: center;
    justify-items: center;
    button{
        color: var(--grey_color1);
        font-size: 18px;
        padding: 5px 10px;
        background: var(--grey_color3);
        border: none;
        border-radius: 10px;
        margin: 0px 5px;
        height: 40px;
        width: 150px;
        cursor: pointer;
        &:hover{
            animation: animate-explore-ingredients-hovered 0.3s forwards;
        }
        &:active{
            background: var(--grey_color2);
        }
        &:last-child{
            color: white;
            background: var(--green_color1);
            grid-column: 1/3;
            justify-self: center;
            width: 200px;
        }
    }
}

// ######################################################################################
// ######################   INPUT BAR   #################################################
// ######################################################################################
.calories-input{
    border: solid 2px var(--grey_color2);
    padding: 0px 0px 0px 10px;
    border-radius: 25px;
    font-size: 16px;
}
.form-bar{
    display: grid;
    align-items: center;
    grid-template-columns: auto max-content;
    border: solid 2px var(--grey_color2);
    padding: 0px 0px 0px 10px;
    border-radius: 25px;
    margin-bottom: 10px;
    .form-bar-input{
        border: none;
        font-size: 16px;
        &:focus{
            outline: none;
        }
    }
    .form-bar-submit{
        display: flex;
        border: none;
        box-shadow: 0 0 3px 1px var(--grey_color2) inset;
        padding: 3px 15px;
        border-radius: 25px;
        cursor: pointer;
        .form-bar-button-image{
            width: 22px;
            height: 22px;
            fill: var(--grey_color1);
        }
        .new-input-style{
            border: none;
            fill: var(--green_color1);
        }
        
        @keyframes search-button-hovered{
            from{
                fill: var(--grey_color1);
            }
            to{
                fill: var(--green_color1);
            }
        }
    }
}
.new-input-style{
    border: solid 2px var(--green_color1);
}


// ######################################################################################
// ######################   LIST ITEMS   ################################################
// ######################################################################################

.ingredient-list-container{
    margin-bottom: 20px;
    min-height: 300px;    
    .ingredient-list-item{
        display: grid;
        grid-template-columns: auto 150px;
        align-items: center;
        border-bottom: solid 1px var(--grey_color1);
        &:last-child{
            border-bottom: none;
        }
        .ingredient-list-item-name{
            width: 100%;
            input{
                font-size: 18px;
                border: none;
                width: 100%;
                text-overflow: ellipsis;
                background: none;
                &:focus{
                    outline: none;
                    color: var(--green_color1);
                    caret-color: black;
                    background: var(--green_color2);
                }
            }
            .unavailable{
                opacity: 0.75;
                color: var(--red_color1);
            }
        }
        .ingredient-list-item-options{
            position: relative;
            box-sizing: border-box;
            padding: 10px 0;
            height: 100%;
            // border: solid 1px red;
            .ingredient-list-item-options-main{
                display: grid;
                justify-items: center;
                // border: solid 1px blue;
                button{
                    cursor: pointer;
                    background: none;
                    border: none;
                    // border: solid 1px green;
                    padding: none;
                    min-width: 0;
                    svg{
                        width: 20px;
                        height: 20px;
                    }
                }
                .unavailable{
                    fill: var(--red_color1);
                }
                .cooking{
                    fill: var(--orange_color1);
                }
                .cook.unavailable{
                    fill: var(--red_color1);
                    cursor: none;
                    pointer-events: none;
                    touch-action: none !important;
                }
                .grocery, .available{
                    fill: var(--green_color1);
                }
                .carted{
                    transform: scale(1.15);
                }
            }
            .fridge-list-item.ingredient-list-item-options-main{
                grid-template-columns: auto auto auto auto;
            }
            .grocery-list-item.ingredient-list-item-options-main,
            .carted-list-item.ingredient-list-item-options-main{
                display: flex;
                justify-content: end;
                button{
                    margin-left: 10px;
                }
            }
            .ingredient-list-item-options-nested{
                z-index: 3;
                position: absolute;
                right: 0;
                top: 0;
                display: none;
                width: 0%;
                grid-template-columns: auto auto;
                height: 100%;
                align-items: center;
                button{
                    cursor: pointer;
                    border: none;
                    padding: 5px 0;
                    svg{
                        width: 20px;
                        height: 20px;
                    }
                }
                .denial{
                    cursor: pointer;
                    fill: white;
                    background: rgb(231, 0, 0);
                    &:hover{
                        background: red;
                    }
                }
                .confirm{
                    cursor: pointer;
                    fill: white;
                    background: rgb(0, 152, 0);
                    &:hover{
                        background: rgb(0, 177, 0);
                    }
                }
                .cancel{
                    cursor: pointer;
                    background: rgb(235, 235, 235);
                    &:hover{
                        background: rgb(242, 242, 242);
                    }
                }
            }
        }
    }
}
.ingredient-list-empty{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 0px;
    svg{
        width: 30px;
        height: 30px;
        fill: var(--grey_color1);
        margin-bottom: 10px;
    }
    span{
        font-size: 18px;
        color: var(--grey_color1);
        margin: 0px 10px;
        text-align: center;
    }
}



// ######################################################################################
// ######################   MEDIA QUERIES   #############################################
// ######################################################################################

@media (min-width: 400px) and (max-width: 600px){
    .category-buttons-array{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}


@media (min-width: 600px){
    
    #search-screen-search-recipes, #fridge-cooking-recipes-list{
        display: grid;
        grid-template-columns: repeat(2, max(0, 1fr));
        gap: 10px;
        justify-items: center
    }

    #search-screen-search-recipes{
        padding-bottom: 420px !important;
    }
    #cart-options-container{
        padding-bottom: 300px;
    }
   
    #app-bottom{
        // display: relative;
        height: 300px;
        position: fixed;
        bottom: 0;
        left: 0;
        bottom: -260px;
        opacity: 0.8;
        background: rgba(0,0,0,.8);
        z-index: 6;
        
        #app-bottom-info{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: min-content min-content auto;

            #app-bottom-main-info{
                display: grid;
                grid-template-columns: 50% 50%;
                grid-column: 1/3;
                justify-items: center;
                // height: none;
                #edamam-badge{
                    width: 100%;
                    max-width: 250px;
                    box-sizing: border-box;
                }
                #app-author{
                    box-sizing: border-box;
                    margin: 0px;
                }
            }
            #app-bottom-about-info{
                grid-column: 1/3;
            }
        }
    }
    #fridge-cooking-recipes-list, #fridge-cook-recipe-container{
        margin-bottom: 320px !important;
    }
    
}
@media (min-width: 600px) and (max-width: 799px){
    .category-buttons-array{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
    
}
@media (min-width: 800px){
    .ingredient-list-item{
        grid-template-columns: auto 200px !important;
    }
    .grocery-list-item.ingredient-list-item-options-main,
    .carted-list-item.ingredient-list-item-options-main{
        display: flex;
        justify-content: end;
        button{
            margin-left: 20px !important;
        }
    }
    #calories-range-container{
        flex-direction: column;
        align-items: start;
        *{
            margin-bottom: 10px;
        }
        input{
            margin-left: 0;
        }
    }
    #search-screen-categories{
        top: 30px;
        padding-bottom: 300px !important;
        position: sticky;
        align-self: start;
        grid-row: 1/3;
        margin-right: 30px;
        .category-type-container{
            padding-bottom: 0px;
            margin-bottom: 0;
            .category-compact-button{
                pointer-events: none;
                img{
                    display: none;
                }
            }
    
        }
    }
    #app-screen-search{
        grid-template-rows: 90px auto;
        grid-template-columns: 25% 75%;
        align-items: start;
    }
    #search-screen-search-bar{
        height: fit-content;
    }
    #app-container{
        box-shadow: 0 0 200px rgba(0,0,0,.1);
        background: white;
    }
}

@media (min-width: 1100px){
    #search-screen-search-recipes, #fridge-cooking-recipes-list{
        grid-template-columns: repeat(3, max(0, 1fr));
        justify-items: center;
    }
}

// ######################################################################################
// ######################   LANDSCAPE   #################################################
// ######################################################################################

@media (orientation: landscape){
    #search-screen-categories{
        position: relative !important;
    }
    .ingredient-list-item{
        grid-template-columns: auto 200px !important;
    }
    .grocery-list-item.ingredient-list-item-options-main,
    .carted-list-item.ingredient-list-item-options-main{
        display: flex;
        justify-content: end;
        button{
            
            margin-left: 20px !important;
        }
    }
    .recipe-container{
        
        .recipe-image{
            border-radius: 6px;
            max-height: 210px;
            object-fit: cover;
        }
        .recipe-label{
            color: var(--green_color1);
            font-size: 20px;
            padding: 7px 0px;
        }
        .recipe-info{
            // border: solid 2px blue;
            background: none;
            padding-bottom: 0 !important;
        }
    }
    .recipe-dialog-box{
        height: 100%;
        position: fixed;
        padding: 0px 5%;
    }
    .dialog-box-recipe-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        height: 100% !important;
        max-width: 90% !important;
        border-radius: 0px !important;
        box-shadow: 0 0 100px rgba(0,0,0,0.5) !important;
        .dialog-box-info{
            background: var(--grey_color5);
            grid-row: 1/3;
            .recipe-ingredient-list-info{
                border-bottom: none;
            }
        }
        .dialog-box-options{
            padding-top: 10px;
            grid-area: 2/2/3/3;
            button{
                width: 100px;
            }
        }
        .recipe-ingredient-list{
            height: 100% !important;
        }
    }
}
