:root {
  --red_color1: rgb(162, 68, 68);
  --orange_color1: rgb(203, 132, 0);
  --orange_color2: rgb(255, 248, 234);
  --green_color1: rgb(34, 145, 38);
  --green_color2: rgb(245, 252, 246);
  --green_color3: rgb(202, 253, 210);
  --grey_color1: rgb(70, 70, 70);
  --grey_color2: rgb(211, 211, 211);
  --grey_color3: rgb(226, 226, 226);
  --grey_color4: rgb(152, 152, 152);
  --grey_color5: rgb(242, 242, 242);
}

* {
  font-family: inter;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 14px;
}
body::-webkit-scrollbar-track {
  background: none;
}
body::-webkit-scrollbar-thumb {
  background: var(--grey_color4);
  border: 2px solid transparent;
  border-radius: 50px;
  background-clip: content-box;
}
body #app-container {
  position: relative;
  z-index: 1;
  min-height: 1000px;
  max-width: 1200px;
  margin: auto;
}
body #app-container #app-options, body #app-container #app-screens, body #app-container #app-bottom {
  padding: 0 3%;
}
body #app-container #app-options, body #app-container #app-screens {
  box-sizing: border-box;
  padding-left: max(3%, env(safe-area-inset-left));
  padding-right: max(3%, env(safe-area-inset-right));
}
body #app-container #app-header {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
body #app-container #app-header #header-logo {
  width: 44px;
  height: 44px;
}
body #app-container #app-header #header-title {
  color: var(--grey_color1);
  font-size: 30px;
  margin-left: 20px;
  font-weight: 700;
}
body #app-container #app-options #option-banner {
  width: 100%;
  height: 260px;
  -o-object-position: 100% 25%;
     object-position: 100% 25%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
body #app-container #app-options #app-option-buttons-container {
  margin: 15px 0px;
  padding: 10px 0px;
  border-top: solid 2px var(--grey_color1);
  border-bottom: solid 2px var(--grey_color1);
  display: flex;
  justify-content: center;
}
body #app-container #app-options #app-option-buttons-container .app-option {
  padding: 5px 10px;
  font-size: 1.1em;
  border: none;
  background: none;
  margin: 0px 5px;
  font-weight: bolder;
  color: var(--grey_color1);
  border-bottom: solid 2px white;
  cursor: pointer;
}
body #app-container #app-options #app-option-buttons-container .app-option:hover {
  animation: app-option-hovered forwards 0.3s;
}
body #app-container #app-options #app-option-buttons-container #grocery-list-app-option-button {
  position: relative;
}
body #app-container #app-options #app-option-buttons-container #grocery-list-app-option-button #grocery-list-count-badge {
  display: flex;
  position: absolute;
  padding: 2px 8px;
  justify-content: center;
  top: -10px;
  right: -5px;
  background: var(--green_color1);
  color: white;
  border-radius: 20px;
}
@keyframes app-option-hovered {
  from {
    border-radius: 20px;
  }
  to {
    background: var(--grey_color3);
    border-radius: 50px;
  }
}
body #app-container #app-options #app-option-buttons-container .selected {
  color: var(--green_color1);
}
body #app-container #app-screens .app-screen {
  display: none;
}
body #app-container #app-screens #app-screen-search {
  display: grid;
}
body #app-container #app-screens #app-screen-search div {
  padding-bottom: 10px;
}
body #app-container #app-screens #app-screen-search div h3 {
  font-size: 27px;
  font-weight: 400;
  text-align: center;
  color: var(--green_color1);
}
body #app-container #app-screens #app-screen-search #search-screen-search-recipes {
  display: flex;
  justify-items: center;
  min-height: 400px;
}
body #app-container #app-screens #app-screen-search #search-screen-categories .category-type-container {
  padding-bottom: none !important;
  padding: none;
}
body #app-container #app-screens #app-screen-search #search-screen-categories .category-type-container button.category-compact-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
  border-bottom: solid 2px var(--grey_color2);
  background: none;
  padding: 0px;
}
body #app-container #app-screens #app-screen-search #search-screen-categories .category-type-container button.category-compact-button:hover {
  cursor: pointer;
  animation: category-compact-button-hovered 0.3s forwards;
}
body #app-container #app-screens #app-screen-search #search-screen-categories .category-type-container button.category-compact-button span {
  font-size: 22px;
  font-weight: 400px;
  margin: 10px 0px;
  color: var(--green_color1);
  margin-left: 5px;
}
body #app-container #app-screens #app-screen-search #search-screen-categories .category-type-container button.category-compact-button img {
  filter: contrast(0%);
  height: 24px;
  width: 24px;
}
body #app-container #app-screens #app-screen-search #search-screen-categories .category-type-container .category-buttons-array {
  padding-bottom: 0;
}
body #app-container #app-screens #app-screen-search #search-screen-categories button.search_category {
  display: block;
  width: 100%;
  padding: 8px 0px;
  font-size: 18px;
  background: none;
  border: none;
  text-align: left;
  padding-left: 5px;
  color: var(--grey_color1);
}
body #app-container #app-screens #app-screen-search #search-screen-categories button.search_category:hover {
  cursor: pointer;
  animation: category-button-hovered 0.3s forwards;
}
@keyframes category-button-hovered {
  from {
    color: black;
  }
  to {
    color: var(--green_color1);
  }
}
body #app-container #app-screens #app-screen-search #search-screen-categories button.selected {
  font-weight: 600;
  color: var(--green_color1);
  background: color-mix(in srgb, var(--grey_color2), transparent);
}
body #app-container #app-bottom {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
}
body #app-container #app-bottom #app-bottom-info {
  color: var(--grey_color2);
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding: 0px 3%;
}
body #app-container #app-bottom #app-bottom-info .app-bottom-section {
  margin-bottom: 10px;
}
body #app-container #app-bottom #app-bottom-info .app-bottom-section h3 {
  color: var(--grey_color4);
  margin-bottom: 5px;
}
body #app-container #app-bottom #app-bottom-info #app-bottom-main-info {
  display: grid;
  align-items: center;
  justify-content: center;
}
body #app-container #app-bottom #app-bottom-info #app-bottom-main-info #app-author {
  color: var(--grey_color4);
  text-align: center;
}
body #app-container #app-bottom #app-bottom-info #app-bottom-main-info #edamam-badge {
  width: 100%;
  max-width: 200px;
  cursor: pointer;
}
body #app-container #app-bottom #app-bottom-info #app-bottom-link-info {
  display: flex;
  flex-direction: column;
}
body #app-container #app-bottom #app-bottom-info #app-bottom-link-info a {
  color: var(--grey_color2);
  margin-bottom: 5px;
  text-decoration: none;
}
body #app-container #app-bottom #app-bottom-info #app-bottom-link-info a:hover {
  color: var(--green_color3);
}
body #app-container #app-bottom #app-bottom-info #app-bottom-danny-info a {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  text-decoration: none;
  color: var(--grey_color2);
}
body #app-container #app-bottom #app-bottom-info #app-bottom-danny-info a:hover {
  color: var(--green_color3);
}
body #app-container #app-bottom #app-bottom-info #app-bottom-danny-info a svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
body #app-container #app-bottom #app-bottom-info #app-bottom-about-info a {
  color: var(--green_color3);
}

#app-background {
  z-index: 0;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 200%;
  opacity: 0.085;
}
#app-background * {
  position: fixed;
  z-index: 0;
  transform: scale(2);
}
#app-background #background_image1 {
  right: 0;
  top: 1600px;
}
#app-background #background_image2 {
  left: 10%;
  top: 1000px;
  transform: scale(-2, 2);
}
#app-background #background_image3 {
  right: 10%;
  top: 400px;
}
#app-background #background_image4 {
  top: 2200px;
  right: 15%;
}
#app-background #background_image5 {
  top: 100px;
  left: 10%;
}

#fridge-cooking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 320px;
}
#fridge-cooking-container h3 #ingredient-cook-total {
  font-size: 12px;
  color: var(--grey_color1);
}
#fridge-cooking-container #fridge-cooking-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  margin-bottom: 10px;
  min-height: 70px;
}
#fridge-cooking-container #fridge-cooking-list .cook-no-ingredients {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#fridge-cooking-container #fridge-cooking-list .cook-no-ingredients svg {
  width: 30px;
  height: 30px;
  fill: var(--grey_color1);
  margin-bottom: 10px;
}
#fridge-cooking-container #fridge-cooking-list .cook-no-ingredients span {
  font-size: 18px;
  color: var(--grey_color1);
}
#fridge-cooking-container #fridge-cooking-list .cook-ingredient {
  display: inline-block;
  overflow-wrap: break-word;
  word-break: break-word;
  color: var(--orange_color1);
  background: var(--orange_color2);
  border-radius: 15px;
  padding: 5px 10px;
  margin: 0px 2px 2px 2px;
}
#fridge-cooking-container #fridge-explore-ingredients-button {
  color: var(--grey_color1);
  font-size: 18px;
  padding: 5px 10px;
  background: var(--grey_color3);
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
#fridge-cooking-container #fridge-explore-ingredients-button:hover {
  animation: animate-explore-ingredients-hovered 0.3s forwards;
}
#fridge-cooking-container #fridge-explore-ingredients-button:active {
  background: var(--grey_color2);
}
@keyframes animate-explore-ingredients-hovered {
  from {
    color: black;
  }
  to {
    color: var(--orange_color1);
  }
}
#fridge-cooking-container #fridge-cooking-recipes-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#fridge-cook-recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px var(--grey_color2);
  padding: 10px;
  margin-bottom: 50px;
  background: rgb(242, 242, 242);
  border-radius: 10px;
  display: none;
  max-width: 450px;
}
#fridge-cook-recipe-container .cook-recipe-image {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 5px;
}
#fridge-cook-recipe-container .cook-recipe-info {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  margin-bottom: 10px;
}
#fridge-cook-recipe-container .cook-recipe-info div {
  text-align: center;
}
#fridge-cook-recipe-container .cook-recipe-info div span {
  color: var(--green_color1);
  font-weight: bolder;
}
#fridge-cook-recipe-container .cook-recipe-info div span a {
  text-decoration: none;
  color: green;
}
#fridge-cook-recipe-container .cook-recipe-line {
  padding: 5px 0px;
  border-bottom: solid 2px var(--grey_color2);
}
#fridge-cook-recipe-container .cook-recipe-line:last-child {
  border-bottom: none;
}

.recipe-dialog-box {
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
.recipe-dialog-box .dialog-box-recipe-container {
  z-index: 6;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  position: absolute;
  background: white;
  box-shadow: 0 0 150px rgba(0, 0, 0, 0.15);
  padding-bottom: 100px;
}
.recipe-dialog-box .dialog-box-recipe-container .recipe-label,
.recipe-dialog-box .dialog-box-recipe-container .recipe-calories,
.recipe-dialog-box .dialog-box-recipe-container .recipe-yield,
.recipe-dialog-box .dialog-box-recipe-container .recipe-ingredient-list-info {
  text-align: center;
}
.recipe-dialog-box .dialog-box-recipe-container .recipe-image {
  margin: auto;
  width: 100%;
  max-height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}
.recipe-dialog-box .dialog-box-recipe-container .recipe-label {
  font-size: 22px;
  color: var(--green_color1);
}
.recipe-dialog-box .dialog-box-recipe-container .recipe-info {
  padding: 0px 2px;
  display: flex;
  justify-content: space-evenly;
}
.recipe-dialog-box .dialog-box-recipe-container .recipe-ingredient-list-info {
  color: var(--green_color1);
  margin: 5px 0;
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: solid 2px var(--grey_color1);
}
.recipe-dialog-box .dialog-box-recipe-container .recipe-ingredient-list {
  position: relative;
  overflow: scroll;
  border-radius: 6px;
  padding: 0px 8px;
  overflow-x: hidden;
  height: 40vh;
  padding-bottom: 20px;
}
.recipe-dialog-box .dialog-box-recipe-container .recipe-ingredient-list .recipe-ingredient {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  padding: 5px 0px;
  border-bottom: solid 2px var(--grey_color2);
}
.recipe-dialog-box .dialog-box-recipe-container .recipe-ingredient-list .recipe-ingredient .recipe-ingredient-grocery-checkbox {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 18px !important;
  height: 18px !important;
  background: white;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
  border: 2px solid white;
  box-shadow: 0 0 0px 2px var(--green_color1);
  cursor: pointer;
}
.recipe-dialog-box .dialog-box-recipe-container .recipe-ingredient-list .recipe-ingredient .recipe-ingredient-grocery-checkbox:checked {
  background: var(--green_color1);
}
.recipe-dialog-box .dialog-box-recipe-container .recipe-ingredient-list .recipe-ingredient:last-child {
  padding-bottom: 5px;
  border-bottom: none;
}
.recipe-dialog-box .dialog-box-recipe-container .recipe-ingredient-list::-webkit-scrollbar {
  width: 13px;
}
.recipe-dialog-box .dialog-box-recipe-container .recipe-ingredient-list::-webkit-scrollbar-track {
  background: none;
}
.recipe-dialog-box .dialog-box-recipe-container .recipe-ingredient-list::-webkit-scrollbar-thumb {
  background: var(--green_color1);
  border: 4px solid transparent;
  border-radius: 50px;
  background-clip: content-box;
}
.recipe-dialog-box .dialog-box-options {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  padding: 0px 5px 10px 5px;
}
.recipe-dialog-box .dialog-box-options button {
  background: var(--grey_color2);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 7px;
  width: 120px;
  padding: 4px 0;
  fill: var(--grey_color1);
  cursor: pointer;
}
.recipe-dialog-box .dialog-box-options button svg {
  margin-right: 5px;
  width: 25px;
  height: 25px;
}
.recipe-dialog-box .dialog-box-options button:hover {
  background: var(--grey_color3);
}
.recipe-dialog-box .dialog-box-options #dialog-box-cook-option svg {
  width: 24px;
  height: 24px;
}
.recipe-dialog-box .dialog-box-options #dialog-box-cook-option:hover {
  color: var(--orange_color1);
  fill: var(--orange_color1);
}
.recipe-dialog-box .dialog-box-options #dialog-box-cancel-option svg {
  width: 18px;
  height: 18px;
}
.recipe-dialog-box .dialog-box-options #dialog-box-grocery-option:hover {
  color: var(--green_color1);
  fill: var(--green_color1);
}
.recipe-dialog-box .dialog-box-options #dialog-box-cancel-option:hover {
  color: var(--red_color1);
  fill: var(--red_color1);
}

h3 {
  font-size: 27px;
  font-weight: 400;
  text-align: center;
  color: var(--green_color1);
  margin-bottom: 10px;
}
h3 span {
  display: block;
  font-size: 12px;
  color: var(--grey_color1);
}

#calories-range-container {
  display: flex;
  align-items: center;
}
#calories-range-container h3 {
  display: inline;
  font-size: 22px !important;
  font-weight: 400px;
  margin-right: auto;
  margin-left: 5px;
}
#calories-range-container input, #calories-range-container span {
  margin-left: 10px;
}
#calories-range-container input {
  max-width: 80px;
  box-sizing: border-box;
}

.no-recipes-found {
  font-size: 22px;
  color: var(--grey_color1);
  fill: var(--grey_color1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 200px 0px !important;
}
.no-recipes-found svg {
  margin-top: 20px;
  width: 30px;
  height: 30px;
}

.no-recipes-searched {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0px !important;
}
.no-recipes-searched img {
  max-width: 60px;
}
.no-recipes-searched span {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  margin: 5px !important;
  border: solid 1px var(--grey_color2);
  padding: 8px;
  background: rgb(242, 242, 242);
  border-radius: 10px;
}
.recipe-container .recipe-image {
  border-radius: 6px;
  max-height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}
.recipe-container .recipe-label {
  color: var(--green_color1);
  font-size: 20px;
  padding: 10px 0px;
}
.recipe-container .recipe-info div {
  padding-bottom: 4px !important;
  margin-bottom: none;
}
.recipe-container .recipe-info div span {
  font-weight: bolder;
  color: var(--green_color1);
}
.recipe-container .recipe-ingredient-expand {
  margin-top: auto;
  padding: 4px;
  border-radius: 6px;
  border: solid 1px var(--grey_color2);
  font-size: 18px;
  color: var(--grey_color1);
  cursor: pointer;
}
.recipe-container .recipe-ingredient-expand:hover {
  animation: recipe-ingredients-expand-hovered 0.4s forwards;
}
@keyframes recipe-ingredients-expand-hovered {
  from {
    color: black;
  }
  to {
    color: var(--green_color1);
    background: var(--grey_color3);
  }
}

#shopping-cart-options-text {
  color: var(--grey_color1);
  padding-bottom: 3px;
  margin-bottom: 0;
  border-bottom: solid 2px var(--grey_color1);
  text-align: center;
}

#cart-options-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100% 100%;
  margin-top: 20px;
  margin-bottom: 100px;
  justify-content: center;
  justify-items: center;
}
#cart-options-container button {
  color: var(--grey_color1);
  font-size: 18px;
  padding: 5px 10px;
  background: var(--grey_color3);
  border: none;
  border-radius: 10px;
  margin: 0px 5px;
  height: 40px;
  width: 150px;
  cursor: pointer;
}
#cart-options-container button:hover {
  animation: animate-explore-ingredients-hovered 0.3s forwards;
}
#cart-options-container button:active {
  background: var(--grey_color2);
}
#cart-options-container button:last-child {
  color: white;
  background: var(--green_color1);
  grid-column: 1/3;
  justify-self: center;
  width: 200px;
}

.calories-input {
  border: solid 2px var(--grey_color2);
  padding: 0px 0px 0px 10px;
  border-radius: 25px;
  font-size: 16px;
}

.form-bar {
  display: grid;
  align-items: center;
  grid-template-columns: auto max-content;
  border: solid 2px var(--grey_color2);
  padding: 0px 0px 0px 10px;
  border-radius: 25px;
  margin-bottom: 10px;
}
.form-bar .form-bar-input {
  border: none;
  font-size: 16px;
}
.form-bar .form-bar-input:focus {
  outline: none;
}
.form-bar .form-bar-submit {
  display: flex;
  border: none;
  box-shadow: 0 0 3px 1px var(--grey_color2) inset;
  padding: 3px 15px;
  border-radius: 25px;
  cursor: pointer;
}
.form-bar .form-bar-submit .form-bar-button-image {
  width: 22px;
  height: 22px;
  fill: var(--grey_color1);
}
.form-bar .form-bar-submit .new-input-style {
  border: none;
  fill: var(--green_color1);
}
@keyframes search-button-hovered {
  from {
    fill: var(--grey_color1);
  }
  to {
    fill: var(--green_color1);
  }
}

.new-input-style {
  border: solid 2px var(--green_color1);
}

.ingredient-list-container {
  margin-bottom: 20px;
  min-height: 300px;
}
.ingredient-list-container .ingredient-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: solid 1px var(--grey_color1);
}
.ingredient-list-container .ingredient-list-item:last-child {
  border-bottom: none;
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-name {
  width: 100%;
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-name input {
  font-size: 18px;
  border: none;
  width: 100%;
  text-overflow: ellipsis;
  background: none;
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-name input:focus {
  outline: none;
  color: var(--green_color1);
  caret-color: black;
  background: var(--green_color2);
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-name .unavailable {
  opacity: 0.75;
  color: var(--red_color1);
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-options {
  display: flex;
  align-items: center;
  z-index: 2;
  position: relative;
  width: 143px;
  z-index: 3;
  justify-content: end;
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-options button {
  border: none;
  background: none;
  fill: var(--grey_color1);
  cursor: pointer;
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-options button:first-child {
  margin-left: 0;
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-options button svg {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-options .unavailable {
  fill: var(--red_color1);
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-options .cooking {
  fill: var(--orange_color1);
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-options .cook.unavailable {
  fill: var(--red_color1);
  cursor: none;
  pointer-events: none;
  touch-action: none !important;
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-options .grocery, .ingredient-list-container .ingredient-list-item .ingredient-list-item-options .available {
  fill: var(--green_color1);
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-options .carted {
  transform: scale(1.15);
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-options .ingredient-list-item-options-nested {
  z-index: 3;
  position: absolute;
  right: 0;
  box-sizing: content-box;
  width: 0%;
  display: none;
  grid-template-columns: 65% auto;
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-options .ingredient-list-item-options-nested button {
  padding: 10px 0px;
  margin: 0;
  color: white;
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-options .ingredient-list-item-options-nested .denial {
  cursor: pointer;
  fill: white;
  background: rgb(231, 0, 0);
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-options .ingredient-list-item-options-nested .denial:hover {
  background: red;
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-options .ingredient-list-item-options-nested .confirm {
  cursor: pointer;
  fill: white;
  background: rgb(0, 152, 0);
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-options .ingredient-list-item-options-nested .confirm:hover {
  background: rgb(0, 177, 0);
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-options .ingredient-list-item-options-nested .cancel {
  cursor: pointer;
  background: rgb(235, 235, 235);
}
.ingredient-list-container .ingredient-list-item .ingredient-list-item-options .ingredient-list-item-options-nested .cancel:hover {
  background: rgb(242, 242, 242);
}

.ingredient-list-empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0px;
}
.ingredient-list-empty svg {
  width: 30px;
  height: 30px;
  fill: var(--grey_color1);
  margin-bottom: 10px;
}
.ingredient-list-empty span {
  font-size: 18px;
  color: var(--grey_color1);
  margin: 0px 10px;
  text-align: center;
}

@media (min-width: 400px) and (max-width: 600px) {
  .category-buttons-array {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 600px) {
  #search-screen-search-recipes, #fridge-cooking-recipes-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
  }
  #search-screen-search-recipes {
    padding-bottom: 420px !important;
  }
  #cart-options-container {
    padding-bottom: 300px;
  }
  #app-bottom {
    height: 300px;
    position: fixed;
    bottom: 0;
    left: 0;
    bottom: -260px;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.8);
    z-index: 6;
  }
  #app-bottom #app-bottom-info {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content auto;
  }
  #app-bottom #app-bottom-info #app-bottom-main-info {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: 1/3;
    justify-items: center;
  }
  #app-bottom #app-bottom-info #app-bottom-main-info #edamam-badge {
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
  }
  #app-bottom #app-bottom-info #app-bottom-main-info #app-author {
    box-sizing: border-box;
    margin: 0px;
  }
  #app-bottom #app-bottom-info #app-bottom-about-info {
    grid-column: 1/3;
  }
  #fridge-cooking-recipes-list, #fridge-cook-recipe-container {
    margin-bottom: 320px !important;
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  .category-buttons-array {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
}
@media (min-width: 800px) {
  #calories-range-container {
    flex-direction: column;
    align-items: start;
  }
  #calories-range-container * {
    margin-bottom: 10px;
  }
  #calories-range-container input {
    margin-left: 0;
  }
  #search-screen-categories {
    top: 30px;
    padding-bottom: 300px !important;
    position: sticky;
    align-self: start;
    grid-row: 1/3;
    margin-right: 30px;
  }
  #search-screen-categories .category-type-container {
    padding-bottom: 0px;
    margin-bottom: 0;
  }
  #search-screen-categories .category-type-container .category-compact-button {
    pointer-events: none;
  }
  #search-screen-categories .category-type-container .category-compact-button img {
    display: none;
  }
  #app-screen-search {
    grid-template-rows: 90px auto;
    grid-template-columns: 25% 75%;
    align-items: start;
  }
  #search-screen-search-bar {
    height: -moz-fit-content;
    height: fit-content;
  }
  #app-container {
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.1);
    background: white;
  }
}
@media (min-width: 1100px) {
  #search-screen-search-recipes, #fridge-cooking-recipes-list {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
@media (orientation: landscape) {
  #app-container {
    background: none;
  }
  .recipe-container .recipe-image {
    border-radius: 6px;
    max-height: 210px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .recipe-container .recipe-label {
    color: var(--green_color1);
    font-size: 20px;
    padding: 7px 0px;
  }
  .recipe-container .recipe-info {
    background: none;
    padding-bottom: 0 !important;
  }
  .recipe-dialog-box {
    height: 100%;
    position: fixed;
    padding: 0px 5%;
  }
  .dialog-box-recipe-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    height: 100% !important;
    max-width: 90% !important;
    border-radius: 0px !important;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5) !important;
  }
  .dialog-box-recipe-container .dialog-box-info {
    background: var(--grey_color5);
    grid-row: 1/3;
  }
  .dialog-box-recipe-container .dialog-box-info .recipe-ingredient-list-info {
    border-bottom: none;
  }
  .dialog-box-recipe-container .dialog-box-options {
    padding-top: 10px;
    grid-area: 2/2/3/3;
  }
  .dialog-box-recipe-container .dialog-box-options button {
    width: 100px;
  }
  .dialog-box-recipe-container .recipe-ingredient-list {
    height: 100% !important;
  }
}/*# sourceMappingURL=RecipeFinder.css.map */